PORT=5050
MONGODB_URI=mongodb+srv://globalabxtech_db_user:x7ugDrg3nbSl5vxs@cluster0.skszwlq.mongodb.net/jaipur_property_wala?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=jaipur_property_wala_super_secret_jwt_key_2026
ADMIN_EMAIL=admin@jaipurpropertywala.in
ADMIN_PASSWORD=Admin@JaipurPropertyWala2026
NODE_ENV=development
CLIENT_URL=http://localhost:5180,http://localhost:5181

# Gmail SMTP Notifications
SMTP_USER=ankityadav941318@gmail.com
SMTP_PASS=dzwcjmthmtxwniwq
ADMIN_NOTIFICATION_EMAIL=ankityadav941318@gmail.com
